/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}

body {
  line-height: 1
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

nav ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold
}

del {
  text-decoration: line-through
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0
}

input,
select {
  vertical-align: middle;
}

li {
  list-style: none
}


/* =============================================================================
      My CSS
      ========================================================================== */

.panel {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  background-color: white;
  top: 25%;
  z-index: 100;
  width: 30vw;
  min-width: 215px;
  height: 40vh;
  min-height: 360px;
  border-radius: 12px;
}


.dashpanel {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  background-color: white;
  top: 20%;
  z-index: 100;
  width: 50vw;
  min-width: 350px;
  height: 30vh;
  min-height: 288px;
  border-radius: 12px;
}

h1,
p {
  font-family: "Arial", sans-serif;
}

/* ---- base ---- */

html,
body {
  width: 100%;
  height: 100%;
  background: #111;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}


/* ---- stats.js ---- */

.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js {
  width: 100%;
  height: 100%;
  background: rgb(114, 195, 182);
  background: linear-gradient(341deg, rgba(114, 195, 182, 1) 33%, rgba(168, 211, 61, 1) 100%);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 50%;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(114, 195, 182, 0.2);
  transition: 0.4s;
}

.log {
  color: white;
  background-color: rgba(114, 195, 182, 1);
  border: 1px solid rgba(114, 195, 182, 1);
  margin-top: 10px;
}

button:hover {
  color: white;
  box-shadow: 0 0 20px rgba(114, 195, 182, 0.6);
  background-color: rgba(114, 195, 182 1);
}

.innerPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
}

.passinput {
  width: 80%;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
}

div:where(.swal2-container) button:where(.swal2-styled):not([disabled]) {
  width: 100% !important;
}

.hide {
  display: none !important;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #424242;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1000;
}

#loader_overlay {
  z-index: 9999;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .5;
}

#loading {
  position: relative;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, .3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}